doctype html
html.no-js(ng-app='game', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Capstone
    link(rel='stylesheet', href='/vendor/foundation/css/normalize.css')
    link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
    //link(rel='stylesheet', href='/index.css')
    script(src='/vendor/foundation/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        div(ui-view)

    script(src='/vendor/bower_components/angular/angular.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/foundation/js/foundation.min.js')
    script(src='/vendor/bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/phaser.js')
    script(src='/index.js')
    script(src='/menu/menu_ctrl.js')
    script(src='/game/game.js')

    script.
      $(document).foundation();