.row
  .small-6.columns
    button(ng-click='logout()') {{rootuser.username}}
  .small-6.columns
.row
  .small-12.colums
    div#game
.row
  .small-12.colums
    video#video(src='/assets/QuasVid1.mp4', type='video/mp4', width='900', height='600', preload='auto')
