.row
  .small-6.columns
    button(ng-click='logout()') {{rootuser.username}}
  .small-6.columns
.row
  .small-12.colums
    div#game
.row
  .small-12.colums
    //- canvas#c
    video#v(src='/assets/QuasVid1.mp4', type='video/mp4', preload='auto')
