.bck_hill_10{top:0px;left:0px;
width:474px;height:307px;background: url("sprites.png") no-repeat -0px -322px;}
.bck_hill_9{top:0px;left:0px;
width:474px;height:306px;background: url("sprites.png") no-repeat -0px -0px;}
